#box {
	width: 200px;
	height: 200px;
	background:red;
	/*border: 30px solid black;*/
	/*padding: 10px;*/
	overflow: scroll;
	/*padding: 10px;*/
	/*增加内边距*/
	/*margin: 10px;*/
    /*增加外边距*/
    font-size: 13px;

}

#pox {
	width: 400px;
	height: 400px;
	background:blue;
	/*border: 30px solid black;*/
	/*padding: 10px;*/
	/*overflow: scroll;*/
	padding: 10px;
	/*增加内边距*/
	margin: 30px;
    /*增加外边距*/
    font-size: 13px;
    position: absolute;


}