@charset "utf-8";



#headline {
	width: 100%;
	min-width: 1263px;
	height: 400px;
	background:linear-gradient(to bottom right,rgba(0,0,0,0.2),rgba(0,0,0,0.0)),url(./img/search2.jpg) no-repeat center;
}

#headline .center {
	width: 1263px;
	height: 400px;
	margin: 1 auto;
}

#headline hgroup {
	padding: 100px 0 0 50px;
}

#headline h2 {
	color: #eee;
	font-size: 80px;
	letter-spacing: 1px;
	text-align: center;
}

#headline h3 {
	color: #eee;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
}

#tour {
	width: 1263px;
	height: 1200px;
	/*background-color: #ccc;*/
	margin: 0 auto;
	text-align: center;
}

#tour .center {
	/*text-align:center;*/
}

#tour .center h2 {
	font-size: 45px;
	letter-spacing: 2px;
	color: #666;
	margin: 10px 0px;
}

#tour .center p {
	color: #666;
	margin: 10px 0;
}

#tour figure {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	width: 380px;
	text-align: left;
	position: relative;
}

#tour figure img {
	vertical-align: middle;
}

#tour figcaption {
	color: #777;
	font-size: 14px;
	padding: 7px 0 5px 0;
	letter-spacing: 1px;
	line-height: 1.5;
}


#tour figcaption .title {
     color: #333;
     font-weight: normal;
}

#tour .info {
	padding: 5px 0 0 0;
}

#tour .sat {
	float: right;
	font-size: 14px;
	color: #999;
	font-style: normal;
	position: relative;
	top: 5px;
	right: 5px;
}

#tour .price {
	color: #f60;
	font-size: 14px;
}

#tour .price strong {
	font-size:20px; 
	letter-spacing: 1px;
}


#tour .type {
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	background-color: #59b200;
	color: white;
	position: absolute;
	top: 4px;
	left: 4px;
}







