@charset "utf-8";

div {
	/*-moz-columns: 200px 3;*/

	/*如果没有设置列数，却设置了每列多少宽度，那么会自动设置列数*/
	-webkit-column-width:100px;
	-webkit-column-count:3;
	-webkit-column-gap:50px;
	-webkit-column-rule:2px dashed gray;

	-moz-column-width:100px;
	-moz-column-count:3;
	-moz-column-gap:50px;
	-moz-column-rule:2px dashed gray;


}

h1 {
	text-align: center;
	-webkit-column-span:all;
}