@charset "utf-8";
div	{
	background-color: red;
}

p {
	font-size: 80px;
	/*text-shadow: 1px 1px 1px red;*/
/*	width: 200px;
	background-color: silver;
	white-space: nowrap;
	overflow: hidden;
	-0-text-overflow:ellipsis;
	text-overflow: ellipsis;*/
	/*ellipsis 如果文本太长用省略号结束*/
	/*nowrap 不换行*/
	/*-webkit-text-stroke:1px red; */
}