@charset "utf-8";

/*div	{
	background: silver;
	width: 200px;
	height: 200px;
	visibility: visible;
	visibility: hidden;  
	hidden 隐藏但是会有占位
}*/

/*table tr:first-child {
	visibility: hidden; 
    visibility: collapse;  元素不可见，隐藏表格的行和列，如果不是表格，则和hidden一样  
    
}*/

/*div {
	background: silver;
	width: 200px;
	height: 200px;
	display: inline;  转换成行内元素
}
*/
/*span {
	background: red;
	width: 200px;
	height: 200px;
	display: block;
}
*/
/*块内元素  div  p */
/*所谓行内元素，不能够设置元素尺寸，它只能自适应内容、无法隔离其他元素，其他元素会紧跟其后。比如：<span> <b>等文本元素*/
/*行内-块元素*/
/*所谓行内-块元素，可以设置元素尺寸，但无法隔离其他元素的元素。比如<img>*/

/*img {
	width: 200px;
	height: 200px;
}
*/

/*div,span {
	background: silver;
	width: 100px;
	height: 100px;
	display: inline-block;
}*/

div	{
	width: 200px;
	height: 200px;
}

#a {
	background: maroon;
	float: left;
}

#b {
	background: green;
	/*margin-left: 20px;*/
	/*float: right; */
	/*clear: left; */
    clear: both;
}

#c {
	background: blue;
	/*float: left; */
}

/*当一个元素盒子被浮动后，下面的元素会自动堆叠处理，导致元素不可见或者部分不可见。我们可以使用clear属性来处理*/
