@charset "utf-8";
p{
/*	color: lime;
*/
    /*color: #ff0000*/
/*    color: #000000
*/
/*      color: #f00
*/      
/*      color:rgb(0,128,128);
*/
/*      color: rgba(0，128，128，0.2);      
*/
/*       color: hsl(120,100%,30%);
*/     
/*         color: hsla();
*/       margin: 0;
         padding: 0;
         background: gray;
         font-size: 50px;
         height: 2em;
         width: 50%
         /*% 占所属区域的百分比*/
         /*em 是相对单位，与字号大小挂钩，会根据字体大小该百年自己的大小，灵活性很高，*/
    
}