@charset "utf-8";

div	{
	/*color: green;*/
	/*opacity: 0.3; 透明度*/
	width: 200px;
	height: 200px;
/*	background-color: blue;
	opacity: 0.5;*/
	border: 10px red solid;
	box-shadow: 10px 1px 2px 2px red inset;
	/*cursor: move; 光标样式*/
}