@charset "utf-8";

body {
	margin: 100px;
}

div {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	background-color: white;
	/*transition-property: background-color,color margin-left;
	transition-duration: 1s;*/
	/*transition-timing-function:ease-in;*/
	/*当过渡效果运行时，比如产生缓动效果，默认情况的缓动是：元素样式从初始状态过度到终止状态*/
	/*ease 默认值  linear 匀速 ease-in 加速状态  ease-out 减速状态 ease-in-out先加速后减速*/
	/*transition-timing-function: cubic-bezier(0.25,0.65,0.88,0.25);  自定义*/
	/*transition-timing-function: steps(3);*/
	/*transition-timing-function: steps(5 start);
	transition-delay: 0s,2s,0s;*/
	/*transition:background-color 1s ease 0s,color 1s ease 1s,margin-left 1s ease 0s;*/
	/*如果每个样式都是统一的，直接使用all*/
	transition: all 1s ease 0s ;
}

div:hover{
	background-color: black;
	color: white;
	margin-left: 100px;

}