@charset "utf-8";

div {
	width: 400px;
    height: 300px;
    /*border-image-width: 27px;    
    border-image-source: url(img.png);
    border-image-slice: 27 fill;
    border-image-repeat: round;*/
    /*stretch拉伸方式填充，当然，通过上右下左设置四个边均可 */
    /*repeat 平铺填充，超过则被截断*/
    /*round 平铺填充，动态调整图片大小直至铺满*/
    /*space 平铺填充，动态调整图片的间距直至铺满*/
    -webkit-border-image: url(image.png) 27/27px round;
}